img {
    height: 200px;
    width: 200px;
  }
h2[id="red"]{
    font-weight: normal;
    color:red
}

h2[id="blue"]{
    font-weight: normal;
    color:blue
    
}
h2[id="orange"]{
    font-weight: normal;
    color:orange
}

h2[id="green"]{
    font-weight: normal;
    color:green
}
h2[id="yellow"]{
    font-weight: normal;
    color:yellow
}